{
    "$schema": "https://json.schemastore.org/swcrc",
    "module": {
        "type": "commonjs"
    },
    "jsc": {
        "parser": {
            "syntax": "typescript"
        },
        "target": "es2017",
        "paths": {
            "@controllers/*": [
                "./src/controllers/*"
            ],
            "@models/*": [
                "./src/models/*"
            ],
            "@DTOs/*": [
                "./src/DTOs/*"
            ],
            "@repositories/*": [
                "./src/repositories/*"
            ],
            "@database/*": [
                "./src/database/*"
            ]
        }
    },
    "minify": true
}